@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: black;
}
.corpo{
    position: relative;
    background-image: linear-gradient(to top, black,red,black);
    min-height: 90vh;
    overflow: hidden;
}
.corpo h1{
    color: white;
    text-align: center;
    font-family: "Condiment", cursive;
    font-size: 1.5em;

}
.corpo h1>span{
    font-size: 1.5em;
}
.corpo p{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(255, 194, 194, 0.545);
    width: 60vw;
    padding: 10px;
    line-height: 2em;
    margin: 0 auto;
    border-radius: 15px;
    text-shadow: 0 0 10px white;
    

}
.marcos{
    position: absolute;
    width: 200px;
    bottom: 0;
    z-index: 10;
}
.crf{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.4;

}
.botao{
 
    position: absolute;
    right: 10px;
    bottom: 50px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    
}
.botao a{
    background-color: blanchedalmond;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, red,black);

}

@keyframes brilho{
    0%,25%{
        
    }
}